
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #9bcdfc, #083f72);
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.form {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFF;
    padding: 4.8rem;
    border-radius: 70px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.918);
    z-index: 10;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.submit-btn {
    width: 100%;
    padding: 1rem;
    background-color: #9bcdfc;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #083f72;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #000000f1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #FFF;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #000001;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%; 
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 100%; 
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000001;
}

.continue-button {
    border: none;
    background-color: #083f72;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}




